<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="navbar">
        <a href="" style="color:white;">User</a>
        <a href="/" style="color:white;">Logout</a>
    </div>
    <h1>Projects Section</h1>
    <div class="projects">
        <a href="/open/'0'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/0.png" alt="">
                </div>
                <div class="details">
                    <h3>Typing Website</h3>
                    <p class="dummy">Node.js Project</p>
                    <p class="project-detail">
                        In this projects I used Node.js, express js and mongodb as database.
                        I also add login and logout feature.
                        <a href="https://github.com/Ankit8969/Typing-Website-with-backend"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                </div>
            </div>
        </a>
        <a href="/open/'1'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/1.png" alt="">
                </div>
                <div class="details">
                    <h3>Blog Website</h3>
                    <p class="dummy">Node.js Project</p>
                    <p class="project-detail">In this Project I also add login and logout feature and User can also
                        write their blog and post.User also able to see others people posted Blogs. <a
                            href="https://github.com/Ankit8969/Blog-Site"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a></p>
                </div>
            </div>
        </a>
        <a href="/open/'2'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/2.png" alt="">
                </div>
                <div class="details">
                    <h3>Weather App</h3>
                    <p class="dummy">API based Project</p>
                    <p class="project-detail">In this project I uses an weather API which gives the weather data to the
                        user.<a href="https://weather-ankitkumar.herokuapp.com/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a></p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>
        <a href="/open/'3'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/3.png" alt="">
                </div>
                <div class="details">
                    <h3>Landing Page Animation</h3>
                    <p class="dummy">Html and Css based projects.</p>
                    <p class="project-detail">
                        In this projects I used css animation property.
                        <a href="https://ankit8969.github.io/landing-page-youtube/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>
        <a href="/open/'4'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/4.png" alt="">
                </div>
                <div class="details">
                    <h3>Shoping Cart Projects.</h3>
                    <p class="dummy">Java Script Project</p>
                    <p class="project-detail">
                        In this projects user can cart the items and also see their cart.
                        <a href="https://ankit8969.github.io/Shoping-cart/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>

        <a href="/open/'5'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/5.png" alt="">
                </div>
                <div class="details">
                    <h3>Add Friend List</h3>
                    <p class="dummy">Java Script Project</p>
                    <p class="project-detail">
                        In this projects user can add the items in list and remove the intem from the list.
                        <a href="https://ankit8969.github.io/Make-Friend-List/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>
        <a href="/open/'6'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/6.png" alt="">
                </div>
                <div class="details">
                    <h3>Todo list Project.</h3>
                    <p class="dummy">Java Script Project</p>
                    <p class="project-detail">
                        User can Increase our decrease the list A/c to our need.
                        <a href="https://ankit8969.github.io/To-Do-list/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>

        <a href="/open/'7'">
            <div class="cards">
                <div class="image-section">
                    <img src="./images/7.png" alt="">
                </div>
                <div class="details">
                    <h3>Grocery Items Projects.</h3>
                    <p class="dummy">Java Script Project</p>
                    <p class="project-detail">
                        User can Increase or decrease the the quantity and see the changes it the price.
                        <a href="https://ankit8969.github.io/pricing-update/"
                            style="color:red; font-weight: bold; text-decoration: underline;">View</a>
                    </p>
                    <span style="color:red;">🔴 Live</span>
                </div>
            </div>
        </a>
    </div>
</body>

</html>